<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <img [src]="images[0]" alt="{{'banner1_header' | translate}}" class="carousel-img">
    <div class="carousel-caption">
      <h3>{{'banner1_header' | translate}}</h3>
      <p>{{'banner1_text' | translate}}</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[1]" alt="{{'banner2_header' | translate}}" class="carousel-img">
    <div class="carousel-caption">
      <h3>{{'banner2_header' | translate}}</h3>
      <p>{{'banner2_text' | translate}}</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[2]" alt="{{'banner3_header' | translate}}" class="carousel-img">
    <div class="carousel-caption">
      <h3>{{'banner3_header' | translate}}</h3>
      <p>{{'banner3_text' | translate}}</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[3]" alt="{{'banner4_header' | translate}}" class="carousel-img">
    <div class="carousel-caption">
      <h3>{{'banner4_header' | translate}}</h3>
      <p>{{'banner4_text' | translate}}</p>
    </div>
  </ng-template>
</ngb-carousel>
